@use "../../abstracts" as ab;

.create-will {
	&__toggle {
		user-select: none;
		color: ab.$text-pink;
		text-decoration: underline;
		font-size: clamp(1.3rem, 4vw, 1.6rem);
	}

	&__token {
		margin-block: 1em;
		display: flex;
		flex-direction: column;
		gap: 1em;

		@include ab.screen-50 {
			flex-direction: row;
			max-height: 45rem;
		}

		&-list {
			background-color: ab.$background-dark2;
			min-height: 6rem;
			overflow-y: hidden;
			overflow-x: scroll;
			display: flex;

			gap: 0.6em;

			border-radius: 0.6em;
			padding-block: 1.4em;
			padding-inline: 1em;

			&.flex {
				align-items: center;
				justify-content: center;
			}

			h3 {
				display: none;
				text-decoration: underline;
				color: ab.$text-golden;
				user-select: none;

				@include ab.screen-50 {
					display: block;
				}

				h3.none {
					display: none;
				}
			}

			@include ab.screen-50 {
				width: min(40%, 30rem);
				flex-wrap: wrap;
				// max-height: 75vh;
				overflow-y: scroll;
				overflow-x: hidden;

				justify-content: center;
				// padding-inline: 1.5em;
			}

			@include ab.screen-68 {
				width: min(45%, 30rem);
			}

			& > p {
				font-size: 1.2rem;
			}
		}

		&-input {
			background-color: ab.$background-dark2;
			width: 100%;
			border-radius: 0.6em;
			overflow-y: scroll;

			margin-right: auto;
			padding-block: clamp(1.2em, 3vw, 1.6em);
			padding-inline: clamp(0.6em, 2vw, 1.2em);

			h3 {
				background-image: ab.$bequest-gradient;

				font-size: clamp(1.8rem, 4vw, 2.5rem);
				background-clip: text;
				color: transparent;
				text-align: center;

				margin-bottom: 0.5em;
				padding-block: 0 0.4em;

				cursor: context-menu;
			}
		}
	}
}
