$background-primary: #f79ad3;
$background-secondary: #c86fc9;

$text-primary: #ededed;
$text-secondary: #e8e4e1;
$text-golden: #ffefd6;
$text-card: #303c5e;
$button-text: #fff;

$bequest-gradient: linear-gradient(to right, #e7a977, #ebbe9b);
