@use "../abstracts" as ab;

.plans {
	background-image: linear-gradient(to bottom right, #5f0a87, #a4508b);
	position: relative;
	top: -2em;
	z-index: -1;

	padding-block: 8em 5em;

	&-card {
		width: min(90%, 70rem);
		margin-inline: auto;

		display: flex;
		flex-direction: column;
		gap: 4em;

		@include ab.screen-40 {
			flex-direction: row;
			gap: 1em;
		}

		@include ab.screen-75 {
			gap: 3em;
		}

		&__item {
			backdrop-filter: blur(1em);

			border-radius: 0.8em;
			padding-inline: 0.8em;
			padding-block: 1.4em;

			background-image: linear-gradient(to top right, #ff928b, #ffac81);

			@include ab.screen-40 {
				transform: rotate(10deg);
			}

			&:nth-child(1) {
				background-image: linear-gradient(to top right, #b0f3f1, #ffcfdf);

				@include ab.screen-40 {
					transform: rotate(-10deg);
					z-index: 1;
				}
			}

			display: flex;
			flex-direction: column;
			gap: 0.4em;

			@include ab.screen-40 {
				flex: 50%;
			}

			img {
				max-width: 23rem;
				margin-inline: auto;
			}

			&-head {
				color: #e61d8c;
				font-size: clamp(1.5rem, 3vw, 2rem);
			}

			&-ul {
				margin: 0;
				padding-inline: 2em 0;

				@include ab.screen-75 {
					padding-inline: 3em 0;
				}

				&__li {
					font-weight: 500;
					font-size: clamp(1rem, 2vw, 1.2rem);
					color: #222831;
				}
			}
		}
	}
}
