@use "./abstracts" as ab;
@use "./components";

body {
	background: #2980b9; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#2c3e50,
		#2980b9
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#2c3e50,
		#2980b9
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	font-family: "Poppins", sans-serif;

	// color: ab.$text-primary;
}

a {
	text-decoration: none;
}

main {
	outline: 2px solid coral;
	margin: 0;
}



.footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}




.Contributors-main{
	height: 30rem;
	display: flex;
	background: rgb(255, 255, 255);

	& .Contributors-part1{
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		overflow: hidden;
	   & .Contributors-box{


		& .gradientline{
			width: 2.5rem;
			height: 0.3rem;
			border-radius: 5rem;
			background: linear-gradient(90deg, rgba(255,151,0,1) 0%, #8F6DEB 100%);
		
		}

		& h1{
			font-size: 2.4rem;
			font-weight: 400;
			color: rgb(56, 40, 106);
		}
		& span{
			font-weight: 600;

		}

		& .Contributors-imgs{
			display: flex;
			gap: 1.5rem;
			margin-block: 1.5rem;
			& .Contributors-img{
				width: 3.5rem;
				border: 3px solid rgb(255, 255, 255);
				border-radius: 39%;
				overflow: hidden;
				box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
			}
		}
           

		& .Contributors-button{
			display: flex;
			align-items: center;
			gap: 1rem;
			padding-block:1rem;
			& .github{
				width: 2.5rem;
				height: 2.5rem;
				display: flex;
				justify-content: center;
				align-items: center;
				border: 2px solid #8f6deb71 ;
				border-radius: 100%;
				
			}
			& .custom-btn {
				width: 130px;
				height: 40px;
				color: #fff;
				border-radius: 5px;
				padding: 10px 25px;
				font-family: 'Lato', sans-serif;
				font-weight: 500;
				background: transparent;
				cursor: pointer;
				transition: all 0.3s ease;
				position: relative;
				display: inline-block;
				 box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
				 7px 7px 20px 0px rgba(0,0,0,.1),
				 4px 4px 5px 0px rgba(0,0,0,.1);
				outline: none;

				
			  }
			& .btn {
				background: linear-gradient(0deg, rgba(255,151,0,1) 0%, #8F6DEB 100%);
				  line-height: 42px;
				  padding: 0;
				  border: none;
				  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
				}
				& .btn span {
				  position: relative;
				  display: block;
				  width: 100%;
				  height: 100%;
				}
				& .btn:before,
				& .btn:after {
				  position: absolute;
				  content: "";
				  right: 0;
				  bottom: 0;
				  background: #8F6DEB;
				  box-shadow:
				   -7px -7px 20px 0px rgba(255,255,255,.9),
				   -4px -4px 5px 0px rgba(255,255,255,.9),
				   7px 7px 20px 0px rgba(0,0,0,.2),
				   4px 4px 5px 0px rgba(0,0,0,.3);
				  transition: all 0.3s ease;
				}
				& .btn:before{
				   height: 0%;
				   width: 2px;
				}
				& .btn:after {
				  width: 0%;
				  height: 2px;
				}
				& .btn:hover{
				  color: #8F6DEB;
				  background: transparent;
				}
				& .btn:hover:before {
				  height: 100%;
				}
				& .btn:hover:after {
				  width: 100%;
				}
				& .btn span:before,
				& .btn span:after {
				  position: absolute;
				  content: "";
				  left: 0;
				  top: 0;
				  background: #8F6DEB;
				  box-shadow:
				   -7px -7px 20px 0px rgba(255,255,255,.9),
				   -4px -4px 5px 0px rgba(255,255,255,.9),
				   7px 7px 20px 0px rgba(0,0,0,.2),
				   4px 4px 5px 0px rgba(0,0,0,.3);
				  transition: all 0.3s ease;
				}
				& .btn span:before {
				  width: 2px;
				  height: 0%;
				}
				& .btn span:after {
				  height: 2px;
				  width: 0%;
				}
				& .btn span:hover:before {
				  height: 100%;
				}
				& .btn span:hover:after {
				  width: 100%;
				}
			
			
		}
		
	   }

		

	}

	& .Contributors-part2{
		width: 30%;
		margin: 4rem;
		display: flex;
		justify-content: center;
		align-items: center;

		& .Contributors-box{
			width: 35rem;
		}

	}




}

	